<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="css/material-icons.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/materialize.min.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS</title>
</head>

<body>
    <!--  ######### -->
    <!--  Templates -->
    <!--  ######### -->
    <!--    UserDashboard  -->
    <script type="text/x-template" id="user-dashboard">
        <div>
            <div class="section" v-for="method in methods" v-show="method.activate && currentmethod==method.name">
                <h4>{{method.label || method.name}}</h4>
                <div class='switch'>
                    <label>
                        Deactivate
                        <input type='checkbox' v-if="user.methods[method.name].active" v-on:click="deactivate" v-bind:name=method.name checked>
                        <input type='checkbox' v-on:click="activate" v-bind:name=method.name v-else>
                        <span class='lever'></span> Activate
                    </label>
                </div>
                <br>
                <div class="divider"></div>
                <p>
                    {{messages.api.methods[method.name].description}}
                </p>
                <div v-show="user.methods[method.name].active || typeof(user.methods[method.name].activationCode)=='string'">
                    <div class="divider"></div>
                    <component :is=currentmethod v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:generate_bypass=generateBypass v-bind:activate_push=activatePush v-bind:messages=messages v-bind:user=user></component>
                    <div v-if="methods[currentmethod]">
                        <div class="section" v-show="methods[currentmethod].transports.length>0 && currentmethod!=='push' ">
                            <div class="divider"></div>
                            <h5>Transports</h5>
                            <div v-if="user.transports.sms">
                                Sms : {{user.transports.sms}}
                            </div>
                            <div v-if="user.transports.mail">
                                Mail : {{user.transports.mail}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--    PushMethod  -->
    <script type="text/x-template" id="push-method">
        <div>
            <ul v-if="!user.methods.push.active">
                <!--<a class="waves-effect waves-light btn" v-on:click=activate_push>Activer</a>-->
                <li v-html="user.methods.push.qrCode"></li>
                <li>{{user.uid}}</li>
                <li>{{user.methods.push.activationCode}}</li>
                <li>{{user.methods.push.api_url}}</li>
            </ul>
            <ul>
                <li>{{user.methods.push.device.platform}}</li>
                <li>{{user.methods.push.device.manufacturer}}</li>
                <li>{{user.methods.push.device.model}}</li>
            </ul>
        </div>
    </script>
    <!--   BypassMethod  -->
    <script type="text/x-template" id="bypass-method">
        <div>
            <ul>
                <li>Code restants : {{user.methods.bypass.available_code}}</li>
                <li>Code utilisés : {{user.methods.bypass.used_code}}</li>
                <li v-for="code in user.methods.bypass.codes">{{code}}</li>
            </ul>
            <a class="waves-effect waves-light btn" v-on:click=generate_bypass>Générer des nouveaux codes</a>
        </div>
    </script>
    <!--    TotpMethod  -->
    <script type="text/x-template" id="totp-method">
        <div>
            {{messages.api.methods.totp.howTo}}
            <ul>
                <li v-html="user.methods.totp.qrCode"></li>
                <li>{{user.methods.totp.message}}</li>
            </ul>
            <a class="waves-effect waves-light btn" v-on:click=generate_totp>Générer un nouveau QrCode</a>
        </div>
    </script>
    <!--    RandomCodeMethod  -->
    <script type="text/x-template" id="random_code-method">
        <div>
        </div>
    </script>
    <!--    ManagerDashboard  -->
    <script type="text/x-template" id="manager-dashboard">
        <div>
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_box</i>
                            <input v-on:keyup="suggest" type="text" id="autocomplete-input" class="autocomplete">
                            <label for="autocomplete-input">Utilisateur</label>
                        </div>
                    </div>
                    <ul v-show="focus">
                        <li v-for="uid in suggestions">
                            <p v-on:click="getUser(uid)">{{uid}}</p>
                            <div class="divider"></div>
                        </li>
                    </ul>
                    <div v-show="user.uid && !focus">
                        <user-view v-bind:methods=methods v-bind:user=user v-bind:messages=messages></user-view>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <!--    UserView  -->
    <script type="text/x-template" id="user-view">
        <div>
            <ul>
                <li v-for="method in methods" v-if="user.methods[method.name] && methods[method.name].activate">
                    <h5>{{method.label}}</h5>
                    <div class='switch'>
                        <label>
                            Deactivate
                            <input type='checkbox' v-if="user.methods[method.name].active" v-on:click="deactivate" v-bind:name=method.name checked>
                            <input type='checkbox' v-on:click="activate" v-bind:name=method.name v-else>
                            <span class='lever'></span> Activate
                        </label>
                    </div>
                    <div class="divider"></div>
                    <div v-show="user.methods[method.name].active || typeof(user.methods[method.name].activationCode)=='string'">
                        <div class="divider"></div>
                        <push v-if="method.name == 'push'" v-bind:methods=methods v-bind:activate_push=activatePush v-bind:messages=messages v-bind:user=user></push>
                        <totp v-if="method.name == 'totp'" v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:generate_bypass=generateBypass v-bind:activate_push=activatePush v-bind:messages=messages v-bind:user=user></totp>
                        <bypass v-if="method.name == 'bypass'" v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:generate_bypass=generateBypass v-bind:activate_push=activatePush v-bind:messages=messages v-bind:user=user></bypass>
                        <random_code v-if="method.name == 'random_code'" v-bind:methods=methods v-bind:generate_totp=generateTotp v-bind:generate_bypass=generateBypass v-bind:activate_push=activatePush v-bind:messages=messages v-bind:user=user></random_code>
                    </div>
                </li>
            </ul>
        </div>
    </script>
    <!--    AdminDashboard  -->
    <script type="text/x-template" id="admin-dashboard">
        <div>
            <div>
                <div class="section" v-for="method in methods">
                    <h4>{{method.label || method.name}}</h4>
                    <div class='switch'>
                        <label>
                            Deactivate
                            <input type='checkbox' v-if="methods[method.name].activate" v-on:click="deactivate" v-bind:name=method.name checked>
                            <input type='checkbox' v-on:click="activate" v-bind:name=method.name v-else>
                            <span class='lever'></span> Activate
                        </label>
                    </div>
                    <div class="divider"></div>
                    <div class="section" v-show="method.name=='totp' || method.name=='random_code' ">
                        <h5>Transports</h5> Sms :
                        <div class='switch'>
                            <label>
                                Deactivate
                                <input type='checkbox' v-if="methods[method.name].transports.includes('sms')" v-on:click="deactivateTransport(method.name,'sms')" v-bind:name=method.name checked>
                                <input type='checkbox' v-on:click="activateTransport(method.name,'sms')" v-bind:name=method.name v-else>
                                <span class='lever'></span> Activate
                            </label>
                        </div>
                        Mail :
                        <div class='switch'>
                            <label>
                                Deactivate
                                <input type='checkbox' v-if="methods[method.name].transports.includes('mail')" v-on:click="deactivateTransport(method.name,'mail')" v-bind:name=method.name checked>
                                <input type='checkbox' v-on:click="activateTransport(method.name,'mail')" v-bind:name=method.name v-else>
                                <span class='lever'></span> Activate
                            </label>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </script>
    <!--    #############  -->
    <!--    end Templates  -->
    <!--    #############  -->
    <!--    App  -->
    <div id="app">
        <header>
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="material-icons">menu</i></a>
            <ul id="slide-out" class="side-nav fixed">
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Préférences</div>
                            <div class="collapsible-body">
                                <ul>
                                    <li v-for="method in methods" v-show="method.activate" class="bold">
                                        <a href="#" v-on:click="navigate" v-bind:name=method.name>{{method.label || method.name}}</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="bold">
                    <a href="#" v-on:click="navigate" name="manager">Manager</a>
                </li>
                <li class="bold">
                    <a href="#" v-on:click="navigate" name="admin">Admin</a>
                </li>
            </ul>
        </header>
        <main>
            <div class="container">
                <component :is="currentView" v-bind:methods=methods v-bind:messages=messages v-bind:currentmethod=currentMethod v-bind:user=user></component>
            </div>
        </main>
        <footer></footer>
    </div>
    <script type="text/javascript">
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script type="text/javascript" src='js/vue.js'></script>
    <script type="text/javascript" src='js/app.js'></script>
    <script type="text/javascript" src='//localhost:35729/livereload.js'></script>
</body>

</html>
